.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}